.low {
  border: 3px solid rgb(19, 226, 19);
  padding: 10px;
}
.medium {
  border: 3px solid rgb(255, 238, 5);
  padding: 10px;
}
.high {
  border: 3px solid red;
  padding: 10px;
}
.completed {
  text-decoration: line-through;
}
