.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  max-width: 400px;
}
input:focus {
  outline: #ffeaa7;
  border-color: wheat;
}

textarea:focus {
  outline: #ffeaa7;
  border-color: wheat;
}
select:focus {
  outline: #ffeaa7;
  border-color: wheat;
}
.btn {
  width: auto;
}
